<%= form_for [@post, Comment.new] do |f| %>
    <div class="form">
      <%= f.text_area :comment, class: "form_box_comment", cols: 30, rows: 5 %><br>
      <%= f.submit "Comment", class: "form_button_comment" %>
    </div>
<% end %>
