<h1>Posts</h1>
<% if user_signed_in? %>
   <%= render "form" %>
   <br>
<% end %>

<% @posts.each do |post| %>
   <h3><%=link_to post.title, post %></h3>
   <br>
   <strong>Content:</strong>
   <p><%= post.content %></p>
   <p><%= link_to post.user.handle, user_posts_path( post.user ) %></p>
   <hr>
<% end %>
