  <ul>
    <li><%= link_to "Home", posts_path %></li>
  </ul>
  <ul>
    <% if !user_signed_in? %>
        <li><%= link_to "Log In", new_user_session_path %></li>
    <% else %>
        <li><%= current_user.email %></li>
        <li><%= link_to "Log Out", destroy_user_session_path, :method => :delete %></li>
  <% end %>
</ul>
